body{
	background: #f5f5f5;
	font-family: "微软雅黑","Microsoft Yahei";
	font-size: 14px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.a-back{
	background-image: url(../images/nav_back.png);
	background-size: 12px auto;
}
#header{
	height: 50px;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fafafa;
    display: block;
}
/*注册*/
.sign-st{
	padding: 0 10px;
	background-color: white;
    margin: 0px 10px;
    display: block;
}
.sign-hd .back{
	position: absolute;
    left: 0;
    top: 0;
}
.sign-hd h1{
	font-size: 16px;
    text-align: center;
    font-weight: normal;
    line-height: 50px;
}
